.car-detail {
  height: 105rem;
  margin-top: 5rem;

  img {
    max-width: 100%;
    max-width: 100%;
  }
}


.detail-contact-form {
  margin: 0 auto;
  margin-top: 10rem;
  width: 50rem;
  background-color: white;
  padding: 1.5rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}

@media only screen and (max-width: 992px) {
  .car-detail {
    height: 125rem;
  }
}

@media only screen and (max-width: 570px) {
  .car-detail {
    height: 110rem;
  }
}
