footer {
  background-color: #bdc3c7;
  height: 16rem;
  width: 100%;
  overflow: hidden;

  ul {
    float: none;
    margin: 0 auto;
    margin-top: 5rem;
    list-style: none;

    li {
    }
  }
}


.footer-image {
  img {
    padding-top: 3rem;
    float: right;
  }
}
