footer {
  background-color: #bdc3c7;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 16rem;
  width: 100%;
  overflow: hidden;

  ul {
    float: none;
    margin: 0 auto;
    margin-top: 5rem;
    list-style: none;

    li {
    }
  }
}


.footer-logo {
  margin-top: 3rem;

  img {
    display: block;
    margin: 0 auto;
  }
}
