.main-content {
  margin-top: 5rem;
  height: 117rem;
}

.thumbnail {
  width: 35rem;
  img {
    height: 22.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .main-content {
    height: 425rem;
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    height: 475rem;
  }
}

@media only screen and (max-width: 574px) {
  .main-content {
    height: 420rem;
  }
}
